img{
    border: blanchedalmond;
    border-radius: 150px;
}
.menu{
    margin-left: 5%;
}
.menuOne{
    font-size: 250%;
}
.menuTexts{
    font-size: 150%;
}
.bigText{
    font-size: 300%;
}
.searchBox{
    width: 40%;
    margin: auto;
}
.background{
    background-color: black;
}
