
<!-- The header part -->
<header class="mt-5">
    <div class="menu row">
        <div class="col">
            <p class="menuOne">Github</p>
        </div>
        <div class="col">
            <div class="row">
                <p class="col-sm-4 menuTexts">Search UserName</p>
                <p class="col-sm-4 menuTexts">Search Repos</p>
            </div>
        </div>
    </div>
</header>

<!-- The Big text -->
<div class="text-center mt-3">
    <p class="bigText">Github Search</p>
</div>
<div class="text-center">
    <input type="search" class="form-control searchBox" placeholder="search">
    <input type="submit" class="btn btn-success" placeholder="Search">
</div>